@use '../1-base/variables';

.footer-content{
    background-color: variables.$bg-color;
    padding: 1rem;
    
    &__box{
        width: 100%;
    }

    &__p{
        color: variables.$secondary-color;
        font-weight: bold;
        text-align: center;
    }
}