@use '../1-base/variables';

.header{
    background-color: variables.$btn-color;
    
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1466px;
    }

    &__logo{
        cursor: pointer;
    }

    &__menu{
        display: flex;
        gap: 3rem;
        list-style: none;
    }

    &__item{
        text-decoration: none;
        color: variables.$main-color;
        cursor: pointer;
        transition: .3s;

        &:hover{
            color: rgba(0,0,0,0.7);
        }
    }

}