@use '../1-base/variables';
@use '../3-modules/mixins.scss';

.introduce-content{
    background-color: variables.$bg-color;
    padding: 6rem 2rem 8rem 2rem;

    &__box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1366px;

        @include mixins.screen{
            text-align: center;
            justify-content: center;
        }
    }

    &__h1{
        font-size: clamp(1.75rem, 4vw, 4rem);
        color: variables.$secondary-color;
    }

    &__p{
        margin: 1.25rem 0 3rem 0;
        line-height: 1.75rem;
    }

    &__btn{
        @include mixins.btn-style(variables.$main-color, variables.$btn-color);
        @include mixins.screen{
            padding: 1rem 4rem;
        }

        &:hover{
            background-color: #f76083;
        }

    }

    &__pet{
        @include mixins.screen{
            order: -1;
            margin-bottom: 3rem;
        }
    }
}
