@use '../1-base/variables';

.introduce-content{
    padding: 2rem 2rem 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1366px;
    width: 100%;

    &__h1{
        font-size: 4rem;
        color: variables.$secondary-color;
    }

    &__p{
        margin: 1.25rem 0 1.75rem 0;
        line-height: 1.75rem;
    }

    &__btn{
        background-color: variables.$btn-color;
        color: variables.$main-color;
        cursor: pointer;
        border: none;
        border-radius: 2rem;
        font-weight: bold;
        transition: .3s;
        padding: 1rem 3rem;

        &:hover{
            background-color: #f76083;
        }
    }
}
