@use '../1-base/variables';
@use '../3-modules/mixins';

.search-content{
    background-color: variables.$btn-color;
    padding: 2rem 2rem 2rem 2rem;

    &__main-box{
        max-width: 1366px;
    }

    &__text{
        text-align: center;
        color: variables.$main-color;

        &__h1{
            font-size: 2.5rem;
        }

        &__span{
            display: block;
            margin: .5rem 0 2rem 0;
        }
    }

    .position{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__quest{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;

        @include mixins.mobile{
            width: 80%;
        }
        
        &__input{
            border-radius: 5rem 0 0 5rem;
            border: none;
            font-size: 1.25rem;
            padding-left: 1rem;
            height: 50px;
            outline: 0;
            width: 100%;
        }

        &__image{
            background-color: variables.$secondary-color;
            border-radius: 0 5rem 5rem 0;
            padding: 1rem;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
    }

    &__dogs{

        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        @include mixins.mobile{
            justify-content: center;
        }

        &__box{
            
            background-color: variables.$bg-color;
            border-radius: 1rem .5rem 1rem .5rem;
            margin-bottom: 2rem;
            height: 430px;
            position: relative;
            overflow: hidden;
            width: 300px;

            &:first-child{
                display: none; // Deixa elemento que foi clonado sem exibir
            }

            @include mixins.mobile{
                width: 95%;
                margin-bottom: 3rem;
            }
        }

        &__hide{
            display: none;
        }

        &__img{
           border-radius: 1rem .5rem 0 0;
           object-fit: cover;
           object-position: top;
           transition: .5s;
           height: 240px;
           width: 100%;

            &:hover{
                transform: scale(1.1);
            }
        }

        &__h3{
            font-size: 1rem;
            padding: .5rem 0 0 1rem;
            font-weight: bold;
            bottom: 1rem;
        }

        &__p{
            padding-left: 1rem;
            line-height: 1.35rem;
            width: 90%;
            font-size: .9rem;
            color: #494949;
        }

        &__span{
            color: variables.$btn-color;
            display: block;
            font-weight: bold;
            font-size: .85rem;
            padding: .25rem 0 .75rem 1rem;
        }

        &__btn{
            @include mixins.btn-style(variables.$main-color, variables.$secondary-color);
            border-radius: 0;
            bottom: 0;
            position: absolute;
            transition: .5s;
            width: 100%;
            
            &:hover{
                background-color: #fa2251;
            }
        }
    }

    &__btn{
        @include mixins.btn-style(variables.$secondary-color, variables.$main-color);
        margin: 2rem 0;

        &:hover{
            background-color: #ebe8e8;
        }
    }
}